<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<SCRIPT language=JavaScript> 
 
function password() { 
 
var testV = 1; 
 
var pass1 = prompt('请输入密码:',''); 
 
while (testV < 3) { 
 
if (!pass1) 
 
history.go(-1); 
 
if (pass1 == "12345678") { 
 
alert('密码正确!'); 
 
break; 
 
} 
 
testV+=-1; 
 
var pass1 = prompt('密码错误!请重新输入:'); 
 
} 
 
if (pass1!="password" & testV ==3) 
 
history.go(-1); 
 
return " "; 
 
} 
 
document.write(password()); 
 
</SCRIPT>
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
